---
# tasks file for sou_podman
- name: Show hostname
  command: "hostname"
  register: hostname_output
- debug:
    var: hostname_output.stdout_lines

- name: Disable SELinux
  ansible.posix.selinux:
    state: disabled

- name: Create data dir
  ansible.builtin.file:
    path: /containers_vols
    state: directory
    mode: '0755'

- name: installing podman
  package:
    name: podman
    state: present

- name: Create the haproxy container
  containers.podman.podman_container:
    name: haproxy
    image: haproxy
    publish: 8080:8080
    state: started
  when: context == 'frontend'

- name: Create the grafana container
  containers.podman.podman_container:
    name: grafana
    image: grafana/grafana-oss
    publish: 3000:3000
    state: started
  when: context == 'backend'

- name: Ensure group "prometheus" exists
  ansible.builtin.group:
    name: prometheus
    state: present
  when: context == 'backend'

- name: Add the user 'prometheus' with a specific uid and a primary group of 'prometheus'
  ansible.builtin.user:
    name: prometheus
    comment: prometheus applications user
    group: prometheus
  when: context == 'backend'

- name: Create Prometheus dirs
  ansible.builtin.file:
    path: "{{ prometheus_path }}/{{ item }}"
    state: directory
    owner: "{{ prometheus_id }}"
    group: "{{ prometheus_id }}"
    mode: '0755'
  with_items: ['data', 'conf']
  when: context == 'backend'

- name: Configure Prometheus
  template: src=prometheus.yml.j2 dest=/containers_vols/prometheus/conf/prometheus.yml

- name: Create the prometheus container
  containers.podman.podman_container:
    name: prometheus
    image: prom/prometheus
    # privileged: true
    volume:
      - /containers_vols/prometheus/conf/prometheus.yml:/etc/prometheus/prometheus.yml:z
      # - /containers_vols/prometheus/data:/prometheus:z
    publish: "{{ prometheus_port_bind }}" # expose, port
    state: started
  when: context == 'backend'