---
# - name: Simple task running on all hosts 
#   hosts: all
#   tasks:
#     - debug:
#         msg: 'Running on all hosts'
#     - shell: hostname -f

- name: Configuring Server Frontend
  hosts: soufe1
  tasks:
    - debug:
        msg: 'Running on Frontend'
  vars_files:
    - vars/main.yml
  roles:
    - sou_podman
 
- name: Configuring Server Backend
  hosts: soube2
  tasks: 
    - debug:
        msg: 'Running on Backend'
  vars_files:
    - vars/main.yml
  roles:
    - sou_podman

