global
  maxconn 20000
  ulimit-n 16384
  # log 127.0.0.1 local0
  log stdout local0 info
  daemon

frontend fe_https
  # bind *:8443 ssl crt /usr/local/etc/haproxy/certs/foo.pem
  bind *:8080
  # option forwardfor
  mode http
  log global
  option httplog
  option dontlognull
  option nolinger
  maxconn 8000
  timeout client 30s
  log-format "%H %ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r %hr %s %r"
  use_backend grafana if { path /grafana } or { path_beg /grafana/ }
  use_backend prometheus if { path /prometheus } or { path_beg /prometheus/ }

#backend vault
#  mode http
#  balance roundrobin
#  option httpchk
#  server vault1 192.168.56.11:8200 check check-ssl ssl verify none

backend grafana
  mode http
  balance roundrobin
  option httpchk
  server grafana1 192.168.56.12:3000 check

backend prometheus
  mode http
  # http-request set-path %[path,regsub(^/prometheus/?,/)]
  # http-request replace-path ^([^\ ]\ /)prometheus[/]?(.) \1\2
  balance roundrobin
  option httpchk
  server prometheus1 192.168.56.12:9090 check
